
@import '../../ui/text.scss';
.row{
  flex-direction: row;
  display: flex;
}
.documents{
  display: flex;
  transform-style: preserve-3d;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  top: 3em;
  flex-flow: row wrap;
  
}
.header{
  margin: 5px 10px;
  @include fontStyle(20px, 700, 24px);
}
.doc_menu{
  display: flex;
  order: 999;
  margin-left: auto;
}
.block_icon{
  margin-left:auto;
  margin: 5px;
  order:2;
  border:2px solid #C2C5CD;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}
.icon{
  
  padding: 8px 9px;
  order: 999;
  margin-left: auto;

  
}
.block_type{
  margin: 5px;
  justify-content: flex-end;
  max-height: 30px;
  min-height: 30px;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  border:2px solid #C2C5CD;
  border-radius: 20px;
  order: 999;
  margin-left: auto;
  
}
.type{
  padding: 9px;
}
.text{
  padding: 6px;
  padding-left: 1px;
  padding-right: 10px;
}
//   .banner {
//     width:457px;
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     padding: 8px;
//     background: linear-gradient(90deg, #E81F2F 0%, #FF8983 100%);
//     border-radius: 20px;

//   }
//   .banner-icon{
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     padding: 8px;
//     position: relative;
//   }

//   .banner-text{
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     padding: 8px 12px;
//     position: relative;
//     @include fontStyle(20px, 700, 24px);
//     font-family: 'Manrope';
//     color: #FFFFFF;
//     flex: none;
//     order: 1;
//     align-self: stretch;
//     flex-grow: 0;
//     text-align: center;
//   }

// .banner-btn{
//   width:68px;
//   height:20px;
//   float: right;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: flex-start;
//   padding: 10px 16px;
//   margin-left: auto;
//   background: #FFFFFF;
//   border-radius: 12px;
//   flex: none;
//   order: 2;
//   flex-grow: 0;
// }
// .banner-btn_text{
//   @include fontStyle(14px, 500, 20px);
//   font-family: 'Manrope';
//   text-align: center;
//   letter-spacing: 0.0025em;
//   color: #E81F2F;
//   flex: none;
//   order: 0;
//   flex-grow: 0;
// }
  